
<footer class="footer-classic context-dark bg-light pt-2 mt-4">
  <div class="container">
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Invite anyone to our Phonebook!</h2>
          <p>Just type his or her email at the form below</p>
          <%= render "shared/invite_form" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to "Online PhoneBook", root_path %>
  </div>
</footer>