<div class="container">
  <%= render 'pagination', members: @members %>
  <div class="row">
    <% @members.each do |member|%>
      <%= render 'members_list', member: member %>
    <% end %>
  </div>
  <%= render 'pagination', members: @members %>
</div>