<div class="container">
  <div class="row">
    <%= paginate @members %>
  </div>
  <div class="row">
    <% @members.each do |member|%>
      <%= render 'members_list', member: member %>
    <% end %>
  </div>
  <div class="row">
    <%= paginate @members %>
  </div>
</div>